.wp-site-blocks {
	padding: 0;
}

.home .wp-block-post-title {
	display: none;
}

.home .wp-block-group {
	margin-top: 0 !important;
}

.home .entry-content {
	margin-top: 0;
}

.wp-block-navigation__container .wp-block-navigation-item a:hover {
	text-decoration: none;
	color: #007cba;
}
