.page-slug-attendees {
  & main.wp-block-group,
  & .entry-content {
    margin-top: 0 !important;
  }
  & .tix-attendee-list {
    padding: 0;

    & li {
      float: left;
      width: 50%;
      margin-bottom: 15px;
      height: auto;
      background: rgba(0,0,0,0.03);
      // box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
      padding: 10px;
      box-sizing: border-box;
      margin-right: 20px;
      width: calc(25% - 20px) !important;
      height: auto !important;
      & img.avatar {
        width: 80px !important;
        height: 80px !important;
        border-radius: 50% !important;
      }
      & .tix-field {
        font-size: 12px !important;
        color: $primary-color;
        margin-left: 100px !important;
      }
      & .tix-attendee-name {
        color: $black-color;
        font-weight: 600;
        font-size: 16px !important;
      }
    }
  }
}

