.contributor__day {
    &-content {
        padding: 1.5rem;
        background-color: rgba(0,0,0,0.05);
    }
    &-table {
        & table {
            width: 100%;
            border-collapse: collapse;
        }
        & thead {
            background-color: #3EBA36;
        }
        & tbody {
            & tr:nth-child(even) {
                background-color: rgba(0,0,0,0.05);
            }
        }
    }

}