
.contributor__day-wrapper {
    & .wp-block-jetpack-slideshow {
        @media screen and (max-width: 767px) {
            display: none !important;
        }
    }
}
.contributor__day {
    &-content {
        padding: 1.5rem;
        background-color: rgba(0,0,0,0.05);
    }
    &-table {
        & table {
            width: 100%;
            border-collapse: collapse;
            &.wcpt-schedule {
                & thead {
                    & tr {
                        & th {
                            @media screen and (max-width: 767px) {
                                display: block !important;
                            }
                        }
                    }
                }
                & thead, & tbody, & tr, & td {                    
                    @media screen and (max-width: 767px) {
                        display: revert !important;
                    }                    
                    & tr {
                        border: none;
                    }
                }
            }
            & thead {
                background-color: #3EBA36;
                & tr {
                    @media screen and (max-width: 700px) {
                        display: revert !important;
                    }
                    & td {
                        padding: 0.5rem 0.5rem;
                        
                        @media screen and (max-width: 700px) {                            
                            padding: 0.5rem 0.5rem !important;
                            display: revert !important;
                        }
                    }
                }
            }
            & tbody {
                & tr:nth-child(even) {
                    background-color: rgba(0,0,0,0.05);
                }
                & tr {
                    @media screen and (max-width: 700px) {
                        display: inherit !important;                        
                    }
                    & td {
                        padding: 0.5rem;
                        font-size: 14px;
                        vertical-align: middle;
                        @media screen and (max-width: 700px) {
                            display: inherit !important;                        
                        }
                        &:first-child {
                            width: 5rem;
                        }                   
                    }
                }
            }
        }        
    }
}
