.page-slug-speakers {
  & main.wp-block-group {
    margin-top: 0;
  }
  & .wordcamp-speakers {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

    & .wordcamp-post-list__post {
      margin: 0 0 1em;
      // background: #fff;
      // border: 1px solid rgba(0, 0, 0, 0.1);
      // border-radius: 10px;
      // padding: 2rem;
      // width: 100%;
      box-sizing: border-box;

      & .wordcamp-speaker {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .wordcamp-speakers__title {
          margin: 0;
          margin-bottom: 20px;
          & a {
            font-size: 28px;
            font-weight: 600;
            text-decoration: none;
            line-height: 1;
            color: #000;
            display: block;
          }
        }
        & .wordcamp-image__avatar-container {
          & a {
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid rgba(0, 0, 0, 0.1);
            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }
          }
        }
        .wordcamp-speakers__content p,
        .wordcamp-speakers__content span {
          font-size: 16px !important;
          line-height: 24px;
        }
        & .wordcamp-speakers__content {
          & .wp-block-heading {
            font-size: 22px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
