.blog__posts {
    & .wp-block-latest-posts__featured-image {
        & a {
            width: 100%;
            & img {
                height: 300px;
                max-width: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
    & .wp-block-latest-posts__post-title {
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1rem;
        display: block;
        color: #000;
    }
}