.blog__posts {
    & .wp-block-latest-posts__list {
        & li {
            
        }
    }
    & .wp-block-latest-posts__featured-image {
        margin-bottom: 0.5rem;
       
        & a {
            width: 100%;
            & img {
                height: 300px;
                max-width: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
                border-radius: 10px;
            }
        }
    }
    & .wp-block-latest-posts__post-title {
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1rem;
        display: block;
        color: #000;
    }
    time.wp-block-latest-posts__post-date {
        font-size: .8rem;
        font-weight: 500;
        line-height: 1;
        display: inline-block;
    }
    .wp-block-latest-posts__post-author {
        font-size: .8rem;
        font-weight: 500;
        line-height: 1;
        display: inline-block;
        margin-right: 10px;
    }
    .wp-block-latest-posts__post-excerpt {
        margin-bottom: 1em;
        margin-top: 1rem;
        clear: both;
    }
}


@media screen and (max-width: 767px) {
    .blog__posts { 
        background-color: transparent;        
        &.wp-block-latest-posts.is-grid {
            padding: 0 30px;
        }
        & li {
            margin: 0 0 30px 0 !important;
            margin-bottom: 30px;
        }    
    }
}