.wp-block-navigation__container {
    & .wp-block-navigation-item {
        position: relative;
        & a {
            position: relative;
            &::before {
                content: '';
                width: 0;
                height: 2px;
                background-color: #000;
                position: absolute;
                bottom: -2px;
                left: 0;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }
            &:hover {
                text-decoration: none;
                &::before {
                    content: '';
                    width: 100%;
                }
            }
            
        }
    }
}