.our__orgnizers {
    
    & ul {
        & .wp-block-wordcamp-avatar {
            border-radius: 50%;
            overflow: hidden;
        }
        & .wp-block-post-title {
            display: block;
        }       
    }        
}