.our__orgnizers {
    
    & ul {
        & .wp-block-wordcamp-avatar {
            border-radius: 50%;
            overflow: hidden;
            // width: 40px !important;
            // height: 40px !important;
        }
        & .wp-block-post-title {
            display: block;                        
            & a {
                color: $black-color;
            }
        }  
        & .wp-block-post-excerpt__excerpt {
            font-size: 16px;
            line-height: 1.8;        
        } 
        & .wp-block-post-excerpt {
            margin-bottom: 0 !important;
        }
        .wp-block-post-excerpt__more-text {
            font-size: 16px;
            font-weight: 600;
        }
        & li {
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0px 0px 40px rgba(0,0,0,0.05);
            border-radius: 10px;
        }
    } 
    & .wordcamp-block__item-title {
        
    }   
    & .wordcamp-image__avatar-container {

    }    
}

@media screen and (max-width: 767px) {
    .our__orgnizers {
        padding: 0 30px;
    }
}