.wp-site-blocks {
    padding: 0;
}
.home {
    & .wp-block-post-title {
        display: none;
    }
    & .wp-block-group {
        margin-top: 0 !important;
    }
    & .entry-content {
        margin-top: 0;
    }
}