.wp-site-blocks {
    padding: 0;
}
.home {
    & .wp-block-post-title {
        display: none;
    }
    & .wp-block-group {
        margin-top: 0 !important;
    }
    & .entry-content {
        margin-top: 0;
    }
}
.call__section  {
    background: rgb(246,246,246);
    background: -moz-linear-gradient(180deg, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 50%);
    background: -webkit-linear-gradient(180deg, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 50%);
    background: linear-gradient(180deg, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6",endColorstr="#ffffff",GradientType=1);
    & .wp-block-columns {
        justify-content: center !important;
    }
    .wp-block-column {
        &.cards__column {
            flex-basis: 80% !important;
        }        
    }
}

.hero-title {
    font-size: clamp(2.625rem, calc(2.625rem + ((1vw - 0.48rem) * 8.4135)), 3.25rem);
    line-height: 1.2;
    & span {
        color: $primary-color;
        font-weight: 600;
    }
}
.hero__buttons {
    & .wp-block-button {
        & a {
            transition: all .2s;
            &:hover {
                background-color: darken($primary-color, 10%);
                color: #fff;
                border-color: darken($primary-color, 10%);
            }
        }
    }
}
