.wp-site-blocks {
    padding: 0;
}
.home {
    & .wp-block-post-title {
        display: none;
    }
    & .wp-block-group {
        margin-top: 0 !important;
    }
    & .entry-content {
        margin-top: 0;
    }
}
.call__section  {
   
    & .wp-block-columns {
        justify-content: center !important;
    }
    .wp-block-column {
        &.cards__column {
            flex-basis: 80% !important;
        }        
    }
}
.hero__main {
    background-image: url(https://islamabad.wordcamp.org/2023/files/2023/07/New-Project.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;  

    & .wp-block-group {
        position: relative;
        z-index: 5;        
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 1;
    }
}

.home .wp-block-group.call__section {
    margin-top: -80px !important;
    position: relative;
    z-index: 6;
}

.hero-title {
    font-size: clamp(2.625rem, calc(2.625rem + ((1vw - 0.48rem) * 8.4135)), 3.25rem);
    line-height: 1.2;
    & span {
        color: $primary-color;
        font-weight: 600;
    }
}
.hero__buttons {
    & .wp-block-button {
        & a {
            transition: all .2s;
            &:hover {
                background-color: darken($primary-color, 5%) !important;
                color: $white-color !important;
                border-color: darken($primary-color, 5%) !important;
            }
        }
    }
}

.post__content {
    & a {
        color: $primary-color;
        &:hover {
            color: darken($primary-color, 5%);
            text-decoration: underline;
        }
    }
    & span {
        color: $primary-color !important;
    }
}

@media screen and (max-width: 767px) {
    .hero__main {
        & .wp-block-group {
            padding-top: 50px !important;
            padding-bottom: 140px !important;
            padding-left: 30px;
            padding-right: 30px;
        }
        & .hero__image {
            display: none;
        }
    }
}
